    #gradient {
        background: linear-gradient(270deg, #00ffbf, rgb(0, 238, 255), black, #00ffbf, rgb(0, 238, 255));
        background-size: 800% 800%;
        -webkit-animation: AnimationName 10s ease infinite;
        -moz-animation: AnimationName 10s ease infinite;
        animation: AnimationName 10s ease infinite;
        backdrop-filter: blur(10px);
    }
    
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    .shrink {
        height: 65px;
        color: white;
        background-color: rgb(0, 0, 0);
    }
    
    .overflow-hidden {
        overflow: hidden;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.532);
        height: 100vh;
    }